/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 15, 2019, 8:54:39 PM
    Author     : liana
*/
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html, body{
    /*background-image: url("/palermo/images/pal2.jpg");*/
    /*    background-size: cover;
        background-repeat: no-repeat;*/
    height: 100%;
    font-family: 'Poppins', sans-serif !important;
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container{
    /*height: 100%;*/
    align-content: center;
    display: none;
    position: absolute;
/*    top: 36%;*/
    height: auto;
}

.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color:rgba(255, 255, 255, 0.568) !important;
}

.card-header h3{
    color: darkred;
}

.input-group-prepend span{
    width: 50px;
    background-color: chartreuse;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.remember{
    color: white;
}
.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: white;
    background-color: darkred;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: rgb(255, 255, 255);
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}

div.input-group span {
    position: absolute;
    left: 60%;
    color: red;
    top:20%;
}

#change{ 
    background-image: url("/palermo/images/day.jpg");
    display:block;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    animation-name: change;
    -webkit-animation-name: change;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 10s;
    /*animation-duration: 20s-;*/
    -webkit-animation-duration: 10s;
}
@keyframes change {
    0%{opacity: 1;}
    25%{opacity: 0,9;}
    50%{opacity:0,5;}
    75%{opacity:0,2;}
    100%{background-image: url("/palermo/images/night.jpg")}
}
@-webkit-keyframes change{
    0%{opacity: 1;}
    25%{opacity: 0,9;}
    50%{opacity:0,5;}
    75%{opacity:0,2;}
    100%{background-image: url("/palermo/images/night.jpg")}
}
#moon{
    position:absolute;
    left:1%;
    top:10%;
    width:60%;
    height:60%;
    background:transparent url('/palermo/images/moon.png') no-repeat;
    z-index:6;
    opacity:0;
}
.open-button{
    position: absolute;
    /* background-color: rgba(140, 49, 163, 0.014); */
    background:none;
    border: none;
    color:darkred;
    padding: 0;

    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: unset;
    font-size: 25px;
    margin: 4px 2px;
    left: 50%;
    top:5%;
    z-index:7;
    opacity:0;
}
#title{
        top: -5%;
    left: 4%;
    z-index: 6;
    /*opacity: 1;*/
    
    position: absolute;
    /*left: 40%;*/
    /*top:5%;*/
    width:30%;
    height:30%;
    background:transparent url('/palermo/images/title.png') no-repeat center center;
    /*z-index:4;*/
    opacity:0;
}
.form-popup {
    display: none;
    position: absolute;
    bottom: 50px;
    right: 500px;
    border: 4px solid #f1f1f1;
    z-index: 9;
}
/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: rgba(78, 7, 7, 0.301);
    opacity: 1;
}
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}