@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


body {
    margin: 0;
    /*    font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Poppins', sans-serif !important;

}

.topnav {
    overflow: hidden;
    background-color: #333;
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-wrap: wrap;
}

#sitelinks, #midlinks, #endnav {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

#sitelinks {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

#sitelinks a{
    /* width: 70%; */
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#midlinks {
    width: 30%;
    align-items: center;
    justify-content: flex-end;
}

#myBtn, #payPalDonate {
    margin-right: 5px;
    font-size: 15px !important;
    /* margin-top: 10px; */
    /* display: inline-block; */
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: darkred;
    background-color: white;
    width: max-content;
    text-decoration: none;
    height: max-content;
}

#sitelinks form {
    /* width: 50%; */
    width: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding-left: 20px;
}

#endnav {
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    text-align: center;
}

#endnav > * {
    height: 45%;
    width: 100%;
    font-size: 15px;
}

.topnav a {
    /* float: left; */
    color: #f2f2f2;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    /* font-size: 17px; */
}

.topnav p {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    margin:0;

}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

form input[type="submit"] {
    font-size: 15px !important;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    /* display: inline-block; */
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: white;
    /* background-color: darkred; */
    width: max-content;
    text-decoration: none;
    /*height: max-content;*/
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#payPalModal {
    /*display: flex;*/
    flex-wrap: wrap;
    justify-content: center;

}

#paypal-modal-content{
    width: 50%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#paypalformcontainer{
    width: 100%;
    height: 50%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
        background-image: url("/palermo/images/grunge.jpg");

}

#paypalformcontainer p{
    width: 100%;
}

#paypalformcontainer form{
    width:50%
}