@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


body {
    font-family: 'Poppins', sans-serif !important;
}

.phasecontainer {

    position: absolute;
    width: 90%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.phasecontainer .imgpic {

    width: 25%;
    height: auto;
}

.phasecontainer .imgpic {
    position: relative;
    animation-name: imgpic;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 6s;
}

#countercont {
display: flex;
    /* flex-wrap: wrap; */
    width: 200px;
    height: 100px;
    /* position: relative; */
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 3px solid darkred;
    border-radius: 10px;
    position: absolute;
    left: 40%;
    top: 55%;
    /* margin: auto; */
}

#countdown {    
    position: relative;
    font-size: 50px;
    font-weight: 900;
    color: darkred;
    /* background-color: darkred; */
}

.phasecontainer .imgtext{
    display: none;
    position: relative;
    /* animation-name: imgtext; */
    /* animation-fill-mode: forwards; */
    /* animation-timing-function: ease-in-out; */
    /* animation-duration: 8s; */
    z-index: 1;
}

.phasecontainer .imgtextrussian{
    display: none;
    position: relative;
    /* animation-name: imgtext; */
    /* animation-fill-mode: forwards; */
    /* animation-timing-function: ease-in-out; */
    /* animation-duration: 8s; */
    z-index: 1;
    margin: auto;
}
@keyframes imgpic{
    0% {
        left: -20%;
    }

    50% {
        left: 40%;
    }

    100% {
        left: 101%;
    }
}

@keyframes imgtext{
    0% {
    }
    /* /* 40% {
        left: 40%;
      } */
    50% {
        animation-name: bounce;
    }
    /* 60% {
        left: 60%;
      } */
    100% {
    }
}