/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 31, 2019, 4:43:56 PM
    Author     : liana
*/
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


body{
        font-family: 'Poppins', sans-serif !important;

    background-image: url("/palermo/images/background.png");
   
}
img{
  position: absolute;
  right: 58px;
  top: 125px;
}
.container{
  height: 100%;
  align-content: center;
  }
  
  .card{
  height: 370px;
  margin-top: 140px;
  margin-left: 50px;
  margin-bottom: auto;
  width: 400px;
  background-color:rgba(255, 255, 255, 0.205) !important;
  opacity: 0.7;
  
  }
  
  .card-header h3{
      color:darkred;
      text-align: center;
      opacity: 1 !important;
      }
      
      
     
      
      input:focus{
      outline: 0 0 0 0  !important;
      box-shadow: 0 0 0 0 !important;
      
      }
      
     

.login_btn{
color: black;
background-color:darkred;
color: #ddd;
width: 100px;
margin:1px;
opacity: 1;
}

.login_btn:hover{
color: black;
background-color: rgb(255, 255, 255);
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}




.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: rgba(0, 110, 255, 0.301);
  opacity: 0.8;
}


.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}



.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}